<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="none" >

	
	<test name="chrome Test">
	<parameter name="browser" value="chrome" />
    <classes>
      <class name="molecular.HelloWorld"/>
      <class name="molecular.HelloWorld_Main"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
